USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[MaChuyenNganh] [varchar](20) NOT NULL,
	[TenChuyenNganh] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MaDiem] [int] IDENTITY(1,1) NOT NULL,
	[DiemLab1] [float] NULL,
	[DiemLab2] [float] NULL,
	[DiemLab3] [float] NULL,
	[DiemLab4] [float] NULL,
	[DiemLab5] [float] NULL,
	[DiemLab6] [float] NULL,
	[DiemLab7] [float] NULL,
	[DiemLab8] [float] NULL,
	[DiemAssgnmentGD1] [float] NULL,
	[DiemAssgnmentGD2] [float] NULL,
	[DiemDoc] [float] NULL,
	[MaSV] [varchar](7) NOT NULL,
	[MaMH] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayTaoHD] [date] NOT NULL,
	[MaNhanVien] [varchar](7) NOT NULL,
	[MaSinhVien] [varchar](7) NOT NULL,
	[MaChuyenNganhSV] [varchar](20) NOT NULL,
	[TinhTrang] [bit] NULL,
	[HocKy] [varchar](10) NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHocKy] [varchar](10) NOT NULL,
	[TenHocKy] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[MaLichHoc] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NULL,
	[ThoiGian] [nvarchar](50) NULL,
	[MaMonHoc] [varchar](7) NOT NULL,
	[MaLopHoc] [varchar](9) NOT NULL,
	[MaChuyenNganh] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](7) NOT NULL,
	[MaPhongHoc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLopHoc] [varchar](9) NOT NULL,
	[TenLopHoc] [nvarchar](50) NOT NULL,
	[MaNhanVien] [varchar](7) NOT NULL,
	[NgayDangKy] [date] NULL,
	[MaChuyenNganh] [varchar](20) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [varchar](7) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NOT NULL,
	[MaChuyenNganh] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](7) NOT NULL,
	[HocPhi] [real] NOT NULL,
	[HocKy] [varchar](10) NOT NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](7) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[MaChuyenNganh] [varchar](20) NOT NULL,
	[Hinh] [varchar](20) NULL,
	[MaTaiKhoan] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [varchar](7) NOT NULL,
	[TenSinhVien] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[MaChuyenNganh] [varchar](20) NOT NULL,
	[MaLopHoc] [varchar](9) NOT NULL,
	[Hinh] [varchar](20) NULL,
	[MaTaiKhoan] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/8/2021 9:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](7) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[VaiTro] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenNganh] ([MaChuyenNganh], [TenChuyenNganh]) VALUES (N'CKDT-TDH', N'Cơ khí, (điện) tự động hoá')
INSERT [dbo].[ChuyenNganh] ([MaChuyenNganh], [TenChuyenNganh]) VALUES (N'DL-NH-KS', N'Du lịch - Nhà hàng - Khách sạn')
INSERT [dbo].[ChuyenNganh] ([MaChuyenNganh], [TenChuyenNganh]) VALUES (N'IT-LT', N'Công nghệ thông tin')
GO
SET IDENTITY_INSERT [dbo].[DIEM] ON 

INSERT [dbo].[DIEM] ([MaDiem], [DiemLab1], [DiemLab2], [DiemLab3], [DiemLab4], [DiemLab5], [DiemLab6], [DiemLab7], [DiemLab8], [DiemAssgnmentGD1], [DiemAssgnmentGD2], [DiemDoc], [MaSV], [MaMH]) VALUES (5, 2, 2, 3, 6, 6, 6, 6, 6, 6, 6, 6, N'PS09821', N'SOF2041')
INSERT [dbo].[DIEM] ([MaDiem], [DiemLab1], [DiemLab2], [DiemLab3], [DiemLab4], [DiemLab5], [DiemLab6], [DiemLab7], [DiemLab8], [DiemAssgnmentGD1], [DiemAssgnmentGD2], [DiemDoc], [MaSV], [MaMH]) VALUES (6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, N'PS11139', N'SOF2041')
INSERT [dbo].[DIEM] ([MaDiem], [DiemLab1], [DiemLab2], [DiemLab3], [DiemLab4], [DiemLab5], [DiemLab6], [DiemLab7], [DiemLab8], [DiemAssgnmentGD1], [DiemAssgnmentGD2], [DiemDoc], [MaSV], [MaMH]) VALUES (7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, N'PP11122', N'WEB021')
SET IDENTITY_INSERT [dbo].[DIEM] OFF
GO
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy]) VALUES (N'FALL2021', N'FALL 2021')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy]) VALUES (N'SPRING2020', N'SPRING 2020')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy]) VALUES (N'SUMMER2020', N'SUMMER 2020')
GO
SET IDENTITY_INSERT [dbo].[LichHoc] ON 

INSERT [dbo].[LichHoc] ([MaLichHoc], [Ngay], [ThoiGian], [MaMonHoc], [MaLopHoc], [MaChuyenNganh], [MaNhanVien], [MaPhongHoc]) VALUES (5, CAST(N'2021-11-29' AS Date), N'Thứ 2 ngày 29 tháng 11 năm 2021', N'MOB1014', N'TKDH01', N'TKDH', N'NV00001', N'K403')
INSERT [dbo].[LichHoc] ([MaLichHoc], [Ngay], [ThoiGian], [MaMonHoc], [MaLopHoc], [MaChuyenNganh], [MaNhanVien], [MaPhongHoc]) VALUES (10, CAST(N'2021-12-01' AS Date), N'Thứ 4 Ngày 01 Tháng 12 Năm 2021', N'MOB202', N'TKDH01', N'TKDH', N'TEONV', N'K403')
INSERT [dbo].[LichHoc] ([MaLichHoc], [Ngay], [ThoiGian], [MaMonHoc], [MaLopHoc], [MaChuyenNganh], [MaNhanVien], [MaPhongHoc]) VALUES (12, CAST(N'2021-12-03' AS Date), N'Thứ 6 Ngày 13 Tháng 11 Năm 2021', N'MOB1014', N'TKDH01', N'TKDH', N'NV00001', N'K403')
SET IDENTITY_INSERT [dbo].[LichHoc] OFF
GO
INSERT [dbo].[LopHoc] ([MaLopHoc], [TenLopHoc], [MaNhanVien], [NgayDangKy], [MaChuyenNganh], [TrangThai]) VALUES (N'CKDT092', N'CKDT09', N'TEONV', CAST(N'2021-12-08' AS Date), N'CKDT-TDH', 1)
INSERT [dbo].[LopHoc] ([MaLopHoc], [TenLopHoc], [MaNhanVien], [NgayDangKy], [MaChuyenNganh], [TrangThai]) VALUES (N'F101', N'IT16317_3', N'NV00001', CAST(N'2020-10-02' AS Date), N'IT-LT', 1)
INSERT [dbo].[LopHoc] ([MaLopHoc], [TenLopHoc], [MaNhanVien], [NgayDangKy], [MaChuyenNganh], [TrangThai]) VALUES (N'IT16302', N'IT16302', N'NV00002', CAST(N'2020-12-08' AS Date), N'IT-LT', 1)
GO
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [NgayBatDau], [NgayKetThuc], [MaChuyenNganh], [MaNhanVien], [HocPhi], [HocKy], [TrangThai]) VALUES (N'ACC105', N' Kế toán DL-NH-KS ', CAST(N'2021-12-13' AS Date), CAST(N'2022-01-21' AS Date), N'DL-NH-KS', N'NV00006', 300000, N'SUMMER2020', 0)
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [NgayBatDau], [NgayKetThuc], [MaChuyenNganh], [MaNhanVien], [HocPhi], [HocKy], [TrangThai]) VALUES (N'COM2012', N'Cơ sở dữ liệu', CAST(N'2022-02-10' AS Date), CAST(N'2022-05-09' AS Date), N'KT-KD', N'NV00008', 300000, N'SPRING2020', 0)
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [NgayBatDau], [NgayKetThuc], [MaChuyenNganh], [MaNhanVien], [HocPhi], [HocKy], [TrangThai]) VALUES (N'COM2033', N'Quản trị cơ sở dữ liệu SQL Serve', CAST(N'2021-11-19' AS Date), CAST(N'2021-11-01' AS Date), N'TKDH', N'TEONV', 300000, N'SUMMER2020', 0)
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SDT], [Email], [DiaChi], [NgaySinh], [GioiTinh], [MaChuyenNganh], [Hinh], [MaTaiKhoan]) VALUES (N'NV00001', N'Nguyễn Văn Tèo', N'0942345987', N'teo123@gmail.com', N'123 Phạm Văn Đồng Quận Phú Nhuận', CAST(N'2021-12-16' AS Date), 0, N'IT-LT', N'nhanvien2.jpg', N'admin')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SDT], [Email], [DiaChi], [NgaySinh], [GioiTinh], [MaChuyenNganh], [Hinh], [MaTaiKhoan]) VALUES (N'NV00002', N'Đinh Văn Lâm', N'0949871016', N'lam123@gmail.com', N'78 Nguyễn Hữu Tiến Quận Tân Phú', CAST(N'2021-12-16' AS Date), 0, N'CKDT-TDH', N'nhanvien3.jpg', N'admin')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SDT], [Email], [DiaChi], [NgaySinh], [GioiTinh], [MaChuyenNganh], [Hinh], [MaTaiKhoan]) VALUES (N'NV00003', N'Nguyễn Thị Nở', N'0221716690', N'no123@gmail.com', N'30 Tân Thắng Quận Tân Phú', CAST(N'2000-12-08' AS Date), 1, N'TMLD', N'nhanvien4 (1).jpg', N'admin')
GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [TenSinhVien], [NgaySinh], [Email], [SDT], [DiaChi], [GioiTinh], [MaChuyenNganh], [MaLopHoc], [Hinh], [MaTaiKhoan]) VALUES (N'PD04328', N'Nguyễn Phạm Hùng Phi', CAST(N'2001-11-23' AS Date), N'phinphpd04328@fpt.edu.vn', N'0942232873', N'Ðak Lak', 1, N'TKDH', N'TKDH01', N'anh3.jpg', N'PD04328')
INSERT [dbo].[SinhVien] ([MaSinhVien], [TenSinhVien], [NgaySinh], [Email], [SDT], [DiaChi], [GioiTinh], [MaChuyenNganh], [MaLopHoc], [Hinh], [MaTaiKhoan]) VALUES (N'PD09231', N'Nguyễn Trí Trung', CAST(N'2021-12-08' AS Date), N'trung@gmail.com', N'0942131231', N'Đak Lak', 1, N'TKDH', N'TKDH01', N'anh3.jpg', N'PD09231')
INSERT [dbo].[SinhVien] ([MaSinhVien], [TenSinhVien], [NgaySinh], [Email], [SDT], [DiaChi], [GioiTinh], [MaChuyenNganh], [MaLopHoc], [Hinh], [MaTaiKhoan]) VALUES (N'PF09871', N'Nguyễn Bảo Châu', CAST(N'2001-09-21' AS Date), N'chau@fpt.edu.vn', N'0987651231', N'Vũng Tàu', 1, N'IT-LT', N'F101', NULL, N'PF09871')
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'admin', N'admin', N'123', 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'PD04328', N'NguyenPhamHungPhi', N'123', 2)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'PD09231', N'NguyenABC', N'123', 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D10534B05B950B]    Script Date: 12/8/2021 9:51:52 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A560801558]    Script Date: 12/8/2021 9:51:52 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SinhVien__A9D105340B395DDC]    Script Date: 12/8/2021 9:51:52 PM ******/
ALTER TABLE [dbo].[SinhVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SinhVien__CA1930A5F1E367E3]    Script Date: 12/8/2021 9:51:52 PM ******/
ALTER TABLE [dbo].[SinhVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (NULL) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT (NULL) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MonHoc1] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MonHoc1]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SinhVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ChuyenNganh] FOREIGN KEY([MaChuyenNganhSV])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_ChuyenNganh]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HocKy] FOREIGN KEY([HocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HocKy]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_SinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_SinhVien]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_ChuyenNganh] FOREIGN KEY([MaChuyenNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_ChuyenNganh]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_LopHoc] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LopHoc] ([MaLopHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_LopHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_MonHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_NhanVien]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_ChuyenNganh] FOREIGN KEY([MaChuyenNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_ChuyenNganh]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_NhanVien]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_ChuyenNganh] FOREIGN KEY([MaChuyenNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_ChuyenNganh]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_HocKy] FOREIGN KEY([HocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_HocKy]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChuyenNganh] FOREIGN KEY([MaChuyenNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChuyenNganh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_ChuyenNganh] FOREIGN KEY([MaChuyenNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_ChuyenNganh]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_TaiKhoan]
GO
